``# Node.js dependencies
node_modules/

# Gradle Wrapper
.gradle/
gradlew
gradlew.bat
gradle/

# IDE files
.idea/
*.iml
.vscode/

# Build output
build/
dist/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log* ``